/* to change colours, search for 'themecolour'
 * #9b1421 darkest accent used for links
 * #b8525c 
 * #c17077 darker accent colour
 * #debcbf light accent colour 
 * #efd9db lightest used for higlhights and body l/r borders
 */
 
html {
  background-color: whitesmoke;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #4a4a4a;
  font-weight: 400;
  line-height: 1.42857;
  width:100%;
  text-align:center;
  background-color:#efd9db;
}

/* this is the first div on the page. Typically it will provide a max page width
 * so you get 'body' colours down the sides
 */
.mainpage
{
	background-color:whitesmoke;
	max-width:1200px;
	text-align:left;
	margin:0px auto;
}

/* links in any paragraph have a highlight effect */
p > a {
  /* themecolour 3: */	
  color:#9b1421;
  opacity:0.8;
  background-image:url('../images/swoosh.png');
  background-size:100% 95%;
  background-position: center center;
  background-repeat:no-repeat;
}
p > a:hover{
  text-decoration: none;
  opacity:1.0;
  color:#9b1421;
}

.icon {
  display: inline-block;
  font-size: 21px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  width: 24px;
}

/* bar at the very top of the page. 
 */
.headernav{
    border: none;
    border-radius: 0;
	/* themecolour 1: */
    background-color: #debcbf;
}

/* top left element. Is currently an image, but these are for if it is text */
.navbar-brand{
  font-size:28px;
  color:#4a4a4a;
  text-shadow:none;
}

.navbar-static-top .navbar-collapse,
 {
  max-height: 340px;
}

/* This is for the spacing of the top nav bar links */
.headernav > li > a
{
  padding: 15px 12px;
}

/* normal header tab: */
.navbar-default .navbar-nav  > li > a
{
/* themecolour 1, 2: */
  color:#c17077;
  background-color:#debcbf;
}

/* normal header tab hover */
.navbar-default .navbar-nav  > li > a:hover,
.navbar-default .navbar-nav  > li > a:focus
{
/* themecolour 1, 2: */
  color:#ffffff;
  background-color:#c17077;
}

/* active (selected) header tab: */
.navbar-default .navbar-nav > .active > a
{
/* themecolour 1, 2: */
  color:#c17077;
  background-color:#efd9db;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
/* themecolour 1, 2: */
  color:#ffffff;
  background-color:#c17077;
}

/* middle banner menu bar: theme colour */
.banner {
    border:0 !important;
	/* themecolour 2: */
	/*background-color:#aba2c3; looking forward purple */
	/*background-color:#616a52; jungle green */
	background-color:#c17077; /* growing pains */
}

/* links on a banner layout */
.banner > li > a
{
  -webkit-border: 0 !important;
  -moz-border: 0 !important;
  border: 0 !important ;
  color:#ffffff;
  padding: 8px 10px 2px 10px;
  }
  
/* Hover over unselected tab: */
.banner > li > a:hover {
	/* themecolour 4 */
    background-color:#b8525c;
	color:
    padding: 8px 10px 2px 10px;
}

/* active (selected) tab: */
.banner > li.active > a 
{
/* themecolour 2: */
  color:#c17077;
  padding: 8px 10px 4px 10px;
}
.banner > li.active > a:hover {
  padding: 8px 10px 4px 10px;
  /* themecolour 3 */
  color:#9b1421;
}

/* menu burger border: */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus
 {
    border-color: #c17077;
	background-color:#debcbf;
}
.navbar-default .navbar-toggle:hover {
	background-color:#efd9db;
}
/* burger line colour: */
.navbar-default .navbar-toggle .icon-bar{
	background-color:#c17077;
}
.hero-image-ed
{
	background-image: url('../images/heroimage4.jpg');
	background-size:auto 220px;
	background-position: center 40px;
	background-attachment: fixed;
	background-repeat:repeat-x;
	background-color:#ffffff;
	border-bottom-style:solid;
	border-width:12px;
	/* themecolour 2: */
	border-color:#c17077;
}

.hero-image-ed-xs
{
	background-image: url('../images/heroimage4.jpg');
	background-size:auto 220px;
	background-position: -450px 40px;
	background-attachment: fixed;
	background-repeat:repeat-x;
	background-color:#ffffff;
	border-bottom-style:solid;
	border-width:12px;
	/* themecolour 2: */
	border-color:#c17077;	
}

/* used to have a scrolling transparent window with fixed image "behind" */
/* theme colour border */
.scroll-image-ed
{
	background-image: url('../images/banner2.jpg');
	background-size:1280px auto;
	background-position: center 0px;
	background-attachment: fixed;
	background-repeat:repeat-x;
	background-color:#ffffff;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:12px;
	/* themecolour 2: */
	border-color:#c17077;
}
.scroll-image-ed-sm
{
	background-image: url('../images/banner2.jpg');
	background-size:auto 100%;
	background-position: center 0px;
	background-attachment: fixed;
	background-repeat:repeat-x;
	background-color:#ffffff;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:12px;
	/* themecolour 2: */
	border-color:#c17077;
}

/* middle site menu bar */
.esitemenu > li > a{
  -webkit-border: 0 !important;
  -moz-border: 0 !important;
  border: 0 !important ;
  color: rgb(46,36,49);
  padding: 8px 10px 4px 10px;
  }
.esitemenu > li > a:hover {
    background-color:#9b92b3;
    padding: 8px 10px 2px 10px;
}
.esitemenu > li.active > a {
  color:white;
  background-color:#9b92b3;
  padding: 8px 10px 4px 10px;
}
.esitemenu > li.active > a:hover {
  color:#8b82a3;
  padding: 8px 10px 4px 10px;
}

.news {
	background-color:#efd9db;	
   padding:14px;
}

.video {
	padding: 8px;
	color:#c17077;
	background-color:#efd9db;	
}

.gigs {
   background-color:#eee;
   padding:6px;
}

.gridspace { /* for use with row and col classes */
  padding:10px !important;
}

.vidspace{ /* used for spacing video boxes on videos page */
	padding: 4px !important;
}

.is-64x64{
  width:64px !important;
  height:64px !important;
}

.is-128x128{
  width:128px !important;
  height:128px !important;
}
.tabimage{
  width:100%;
  height:auto;
  padding-bottom:20px;
}

.title{
  font-weight:normal;
}
.nopadding
{
    padding: 0 !important;
    margin: 0 !important;
}

.btn-ellied {
	/* themecolour 2,4*/
    background:#c17077;
    border-color:#b8525c;
    color:white;
}
.btn-ellied:hover, .btn-ellied:active, .btn-ellied:visited {
	/* themecolour 4 */
  background:#b8525c;
  color:white;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* debug class to help with layout */
.dbgshowborder{
	border-style:solid;
	border-width:1px;
}

.footer {
  background-color: whitesmoke;
  padding: 40px 20px 80px;
  margin-top:40px;
  text-align:center;
}
  .footer a, .footer a:visited {
    color: #4a4a4a; }
    .footer a:hover, .footer a:visited:hover {
      color: #363636; }
    .footer a:not(.icon), .footer a:visited:not(.icon) {
      border-bottom: 1px solid #dbdbdb; }
      .footer a:not(.icon):hover, .footer a:visited:not(.icon):hover {
        border-bottom-color: #aba2c3; }
