.hero-image-ed
{
	background-image: url('../images/heroimage.jpg');
	background-size:auto 220px;
	background-position: center 40px;
	background-attachment: fixed;
	background-repeat:repeat-x;
	background-color:#4f5c2f;
}
