RewriteEngine on
#preferred domain removes the www. :
#RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# force HTTPS
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,NE,L] 

#Make sure directory doesn't already exist:
#RewriteCond %{REQUEST_FILENAME} !-d
#Make sure file doesn't already exist:
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !^/index.php

# Any of the following files are fine, so terminate processing ([L]) so they don't end up going through index.php
RewriteRule (.*sitemap\.xml) $1 [L]
RewriteRule (.*robots\.txt) $1 [L]
RewriteRule (.*\.css) $1 [L]
RewriteRule (.*\.map) $1 [L]
RewriteRule (.*\.woff) $1 [L]
RewriteRule (.*\.woff2) $1 [L]
RewriteRule (.*\.ttf) $1 [L]
RewriteRule (.*\.svg) $1 [L]
RewriteRule (.*\.eot) $1 [L]
RewriteRule (.*\.jpg) $1 [L]
RewriteRule (.*\.png) $1 [L]
RewriteRule (.*\.js) $1 [L]
RewriteRule (.*\.m4a) $1 [L]

#Remp staging files:
RewriteRule ^staging/(.*)$ staging/index.php?page=$1 [NC,L,QSA]

#Remap URL to index.php with requested URL as parameter
RewriteRule ^(.*)/(.*)$ index.php?page=$1&data=$2 [NC,L,QSA]
RewriteRule ^(.*)$ index.php?page=$1 [NC,L,QSA]
