RewriteEngine on

#Make sure directory doesn't already exist:
#RewriteCond %{REQUEST_FILENAME} !-d
#Make sure file doesn't already exist:
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !^/index.php

#Remap URL to index.php with requested URL as parameter
RewriteRule (.*\.css) $1 [L]
RewriteRule (.*\.jpg) $1 [L]
RewriteRule (.*\.png) $1 [L]
RewriteRule (.*\.js) $1 [L]
RewriteRule ^(.*)/(.*)$ index.php?page=$1&data=$2 [NC,L,QSA]
RewriteRule ^(.*)$ index.php?page=$1 [NC,L,QSA]
